<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Naturia Bot</title>
    <meta name="description" content="Naturia Bot">
    <meta name="author" content="dwicao">

</head>

<body>
    <p>Naturia Bot - Made with ♥ by dwicao</p>
    <a href="https://github.com/dwicao/naturia-bot">Source Code</a>
</body>

</html>