<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Joke</title>
    <meta property="og:title" content="Joke" />
    <meta property="og:url" content="https://github.com/dwicao/naturia-bot" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:description" content="<%= description %>" />

</head>

<body>
    <h2>Joke</h2>
    <p><%= description %></p>
    <p>Naturia Bot - Made with ♥ by dwicao</p>
    <a href="https://github.com/dwicao/naturia-bot">Source Code</a>
</body>

</html>